* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.player-one-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
  margin: auto;
  border: 2px solid green;
}

.player-two-container {
  display: none;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
  margin: auto;
  border: 2px solid red;
}

.human-cell,
.cpu-cell {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
}

.ship {
  background-color: orange;
}

.hit {
  background-image: url("assets/hit.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.miss {
  background-image: url("assets/miss.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}
