* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  margin: auto;
  font-size: 36px;
  letter-spacing: 1ch;
}

.board-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
  margin: auto;
}

.info-container {
  display: flex;
  margin: auto;
  width: 400px;
  height: 75px;
  text-align: center;
}

.turn-info {
  margin: auto;
}

.human-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
  margin: auto;
  border: 2px solid black;
  background-color: black;
}

.cpu-container {
  display: none;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
  margin: auto;
  border: 2px solid black;
  background-color: black;
}

.human-cell,
.cpu-cell {
  height: 50px;
  width: 50px;
  background-color: #93c5fd;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
}

.ship {
  background-color: #737373;
}

.hit {
  background-image: url("assets/hit.png");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.miss {
  background-image: url("assets/miss.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.popup-block {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.6);
}

.error-container {
  position: relative;
  display: none;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 50%;
  width: 300px;
  height: 100px;
  background-color: white;
  z-index: 1000;
}

.result-container {
  position: relative;
  display: none;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 50%;
  width: 300px;
  height: 100px;
  background-color: white;
  z-index: 1000;
}

.randomize-btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #155e75;
  color: white;
  font-weight: bolder;
  letter-spacing: 0.25ch;
}

.randomize-btn:hover {
  background-color: #0e7490;
}

.randomize-btn:active {
  background-color: #0891b2;
}

.start-btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  background-color: #166534;
  color: white;
  font-weight: bolder;
  letter-spacing: 0.25ch;
}

.start-btn:hover {
  background-color: #15803d;
}

.start-btn:active {
  background-color: #16a34a;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  color: #737373;
}

.fa-github {
  margin-left: 5px;
}
