* {
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.player-one-container,
.player-two-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
}

.player-one-container {
  border: 2px solid green;
}

.player-two-container {
  border: 2px solid red;
}

.human-cell,
.cpu-cell {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.ship {
  background-color: purple;
}

.hit {
  background-color: red;
}

.miss {
  background-color: aqua;
}
